<div class="page-content">
  <h1><%="Blog posts by #{@user.username}" %></h1>

  <div class="pagination">
    <% if @blogs.previous_page %>
      <%= link_to "< Previous [", params.permit(:page).merge(:page => @blogs.previous_page) %>
    <% end %>
    Page <%= @blogs.current_page %> of <%= @blogs.total_pages %>
    <% if @blogs.next_page %>
      <%= link_to "] Next >", params.permit(:page).merge(:page => @blogs.next_page) %>
    <% end %>
  </div>

  <br/>

  <% @blogs.each do |blog| %>
    <h4><%= link_to "#{blog.title}", subblog_blog_path(blog.subblog, blog), class: "make-it-green" %></h4>
    <%= "#{blog.time_since_post}" %>
    <br/><br/>
  <% end %>

</div>
