<div class="page-content">
  <h1><%= @subblog.name %></h1>
  <h2><%= @subblog.description %></h2>
  <h2><%= "#{@subblog.user.username}, you're currently in moderator mode for this subblog" %></h2>

  <div class="pagination">
    <% if @blogs.previous_page %>
      <%= link_to "< Previous [", params.permit(:page).merge(:page => @blogs.previous_page ) %>
    <% end %>
    Page <%= @blogs.current_page %> of <%= @blogs.total_pages %>
    <% if @blogs.next_page %>
      <%= link_to "] Next >", params.permit(:page).merge(:page => @blogs.next_page ) %>
    <% end %>
  </div>
  <br/>

  <% @blogs.each do |blog| %>
    <h4><%= link_to blog.title, moderator_subblog_blog_path(@subblog, blog), class: "make-it-green" %></h4>
    <%= "#{blog.time_since_post} by " %>
    <%= link_to "#{blog.user.username}", user_path(blog.user), class: "make-it-green" %>
    <% if blog.user == @subblog.user %>
      <%= link_to "[M]", '#', class: "make-it-blue" %>
    <% end %>
    <div>
      <%= "Total comment: #{blog.comments.count}" %>
    </div>
    <br/>
  <% end %>

</div>
