<div class="page-content">
  <%= link_to "Go to the #{@subblog.name} subblog", subblog_path(@subblog), class: "btn btn-primary make-it-green" %>
  <br/><br/>
  <h2><%= "#{@subblog.user.username}, you're currently in moderator mode for the #{@subblog.name} subblog" %></h2>
  <br/>

  <h1><%= @blog.title %></h1>
  <div class="user-profile-link">
    <%= "#{@blog.time_since_post} by " %>
    <%= link_to "#{@blog.user.username}", user_path(@blog.user), class: "make-it-green" %>
    <% if @blog.user == @subblog.user %>
      <%= link_to "[M]", user_path(@blog.user), class: "make-it-blue" %>
    <% end %>
  </div>

  <div class="box col-7 blog-content">
    <%= @blog.content %>
  </div>
  <br/>

  <%= link_to "delete", moderator_subblog_blog_path(@subblog, @blog), method: :delete, data: { confirm: "Are you sure that you want to delete #{@blog.user.username}'s blog post?" }, class: "make-it-green" %>

  <% if @blog.user == @subblog.user %>
    <%= " | " %>
    <%= link_to "edit", edit_moderator_subblog_blog_path(@subblog, @blog), class: "make-it-green" %>
    <br/>
  <% end %>

  <% if current_user == @subblog.user %>
    <div class="col-7 comment-form">
      <br/>
      <%= simple_form_for @comment, url: moderator_subblog_blog_comments_path(@subblog, @blog) do |f|%>
        <%= f.input :message, label: "Total comments: #{@blog.comments.count}", placeholder: "Add a comment" %>
        <%= f.submit 'as a moderator, post a comment', class: 'btn btn-primary make-it-green' %>
      <% end %>
    </div>
    <br/>
  <% end %>

  <% @blog.comments.each do |comment| %>
    <div class="comment-info">
      <%= link_to "#{comment.user.username}", user_path(comment.user), class: "make-it-green" %>
      <% if comment.user == @subblog.user %>
        <%= link_to "[M]", user_path(comment.user), class: "make-it-blue" %>
      <% end %>
      <%= "#{comment.time_since_post}" %>
      <% if comment.user == @blog.user %>
        <%= " by the blog author" %>
      <% end %>
      <br/>
    </div>

    <div class="comment col-7">
      <%= comment.message %>
    </div>

    <% if current_user == @subblog.user%>
      <%= link_to "delete", moderator_subblog_blog_comment_path(@subblog, @blog, comment), method: :delete, data: { confirm: "Are you sure that you want to delete this comment?" }, class: "make-it-green" %>
    <% end %>
    <% if comment.user == @subblog.user %>
      <%= " | " %>
      <%= link_to "edit", edit_moderator_subblog_blog_comment_path(@subblog, @blog, comment), class: "make-it-green" %>
    <% end %>
    <% if current_user == @subblog.user %>
      <%= " | " %>
      <%= link_to "reply", new_moderator_subblog_blog_comment_response_path(@subblog, @blog, comment), class: "make-it-green" %>
    <% end %>
    <%= react_component("Responses", { subblog_id: @subblog.id, blog_id: @blog.id, comment_id: comment.id, moderator_username: @subblog.user.username, user_id: @subblog.user.id, is_moderator: true }) %>
    <br/><br/>
  <% end %>

</div>
